* {}

.bar_container {
  width: 80%;
  margin: 30px auto 0;
  background-color: linen;
}

.bar_container_filling {
  height: 50px;
  background-color: #4CAF50;
}

.stop_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 20px auto;
  padding: 15px 32px;
  display: block;
  font-size: 16px;
}

.stop_btn:hover {
  cursor: pointer;
  background-color: red;
}